* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    line-height: 25.88px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #fafafa;
}





/* green #c5d5cb gray #636E6C */

.herocontainer {
    width: 100%;
    overflow: hidden;
    background: radial-gradient(#fff, #ffd1bc);
    background-size: cover;
    animation-delay: 0.41s;
    animation-duration: 0.618s;
    img {
        width: 27.5%;
        margin-top: 4.1rem;
        min-width: 375px;
    }
    .heroflex {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }
    .herocontent {
        min-height: 100vh;
        color: black;
        width: 40%;
        display: flex;
        text-align: left;
        justify-content: center;
        flex-flow: column nowrap;
        align-items: flex-start;
        margin: 0 7.75rem 0 0;
h1 {
    font-weight: 900;
    font-size: clamp(38px, 4vw, 5vw);
    margin-bottom: 1rem;
    animation-duration: 0.75s;
    animation-delay: 0.75s;
    font-family: 'Playfair Display', serif;
}

p {
    margin-bottom: 1.5rem;
    width: 90%;
    animation-duration: 0.75s;
    animation-delay: 1s;


}
.buttonbox {
    margin-top: 1.25rem;
    animation-duration: 0.75s;
    animation-delay: 1.35s;
}

    }
}

.hide1 {
  display: none;
}
.modal-header {
    background-color: rgb(220, 83, 20);
    color: white;
}


.herobutton {
    background-color: rgb(220, 83, 20);
    color: white;   
    font-size: 1rem !important;
    font-weight: 500 !important;
    padding: 0.5rem 1rem 0.5rem 1rem !important;
    border-radius: 45px;
    border: 2px solid rgb(220, 83, 20);
    text-align: center !important;


}


.herobutton:hover,
.herobutton:active {
    color: black;
    background-color: transparent;
}

.fa-shopping-cart {
    font-size: 1.65rem;
}

.firsth2 {
    margin-top: 2.5rem;
}

.featuredcontent {
    transition: all 0.2s linear;
    position: relative;
    top: 0;
    margin-bottom: 2rem !important;
}

.featuredcontent:hover {
    top: -5px;
}

.featuredbutton {
    text-align: center;
    margin-top: 0.75rem;
}

.heroaccount .heroflex {
    margin-top: 5rem;
}

.tab-content {
    background-color: #fff;
    box-shadow: #00000027 0 12px 24px 0;

}
.nav-tabs {
    margin: 0;
}

.productgold1 {
  width: 100%;
  .productgold1flex {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
    .productgold1content {
      width: 100%;
      margin-left: 5rem;
      h3 {
        margin-bottom: 1rem;
        font-weight: 500;
      }
      h2 {
        margin-bottom: 1rem;
        font-size: 2.65rem;
        font-weight: 900;
        font-family: 'Playfair Display', serif;
        color: rgb(220, 83, 20);
      }
      p {
        width: 85%;
      }
      .buttonbox {
        margin-top: 2rem;
      }
    }
  }
  
}

.featured {
    width: 100%;
    h2 {
        font-size: 2rem;
        font-weight: 900;
        font-family: 'Playfair Display', serif;
        text-align: center;
        margin-bottom: 1rem;
    }
    hr {
        height: 3px;
        width: 100px;
        margin: auto;
        background-color: #FA6900;
        margin-bottom: 1.5rem;
    }
   .featuredflex {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-flow: row wrap;
       width: 100%;
       .featuredcontent {
           display: flex;
           flex-flow: column nowrap;
           width: 225px;
           min-width: 225px;
           margin: 0 16px;
           h3 {
               font-size: 20px;
               font-weight: 500;
               margin: 0.5rem 0 0.25rem 0;
           }
           p {
               font-size: 1rem;
               margin-bottom: 0.25rem;
           }
           a img {
               width: 225px;
               min-width: 225px;
           }
           img {
               min-height: 315px;
               height: 315px;
               background-color: #c2c2c2;
           }
          
           
       }
   }
    
}

.btn-rounded {
    background-color: rgb(220, 83, 20);
    color: white;
    font-weight: 500;
    font-size: 1rem;
    text-align: center !important;
}
.quotes {
    width: 100%;
    .quoteflex {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

.testimonial-card {
    width: 20%;
    min-width: 300px;
    margin: 0 1rem;
    box-shadow: #00000027 0 12px 24px 0;
    transition: all 0.2s linear;
    .fa-quote-left,
    .fa-quote-right {
        color: rgb(220, 83, 20);
    }
    h4 {
      font-weight: 700;
    }
    
}
    }
}
.card-up {
    background: radial-gradient(#fff, #ffd1bc);

}

.testimonial-card:hover {
    transform: scale(1.035);
    
}

.popularproducts {
    padding-bottom: 3rem;
}

.featuredspecial {
    width: 100%;
    background: radial-gradient(#fff, #ffd1bc);
    .featuredspecialflex {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 61.8vh;
        img {
            width: 500px;
            margin: 0 2rem;
        }
        .featuredspecialcontent {
            width: 40%;
            margin: 0 2rem;
            h3 {
                margin-bottom: 2rem;
                font-size: 1.2rem;
                font-weight: 600;
            }
            h4 {
                margin-bottom: 2rem;
                font-size: 3rem;
                font-weight: 900;
                font-family: 'Playfair Display', serif;
            }
            p {
                margin-bottom: 2rem;
            }
            .buttonbox {
                padding-top: 1rem;
            }
        }
    }
}

.allproducts {
    h1 {
        margin: 9rem auto 1rem auto;
        font-weight: 500;
        text-align: center;
    }
    .featuredcontent {
        margin-bottom: 2rem !important;
    }
}

.pagination {
    margin-left: 16.5%;
}

.close {
    color: white;
}

.productdetails {
    width: 100%;
    padding: 5rem 0 5rem 0;
    margin-top: 3rem;
    .productdetailsflex {
        display: flex;
        justify-content: center;
    }
    .imgflex {
        width: 35%;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        min-width: 500px;
        .img1 {
            width: 100%;
            margin-bottom: 8px;
            background-color: #c2c2c2;
        }
        .smallimg {
            width: 25%;
            margin: 0 20px;
            background-color: #c2c2c2;
        }
    }
    .detailscontent {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
        width: 40%;
        margin: 0 0 0 3rem;
        p {
            margin-bottom: 1rem;
        }
        h1 {
            margin-bottom: 1rem;
            font-size: 3rem;
            font-weight: 700;
        }
        h4 {
            margin-bottom: 1rem;
            font-weight: 700;
        }
        select {
            margin-bottom: 1rem;
        }
        input {
            margin-bottom: 1.618rem;
        }
        .buttonbox {
            margin: 1rem 0 1rem 0;
        }
        h3 {
            margin: 1rem 0 1rem 0;
            font-size: 1.25rem;
            font-weight: 500;
        }
        
    }
}

.herocontact {
    width: 100%;
    .heroflex {
    min-height: 100vh;
    img {
        margin: 8.4rem 5rem 0 0;
        width: 84%;
    }
    }
    .card {
        margin: 8.4rem 0 0 5rem;
    }
    .card-header {
        background-color: rgb(220, 83, 20) !important;
    }
    strong {
        font-weight: 700;
    }

    .btn-block {
        background-color: rgb(220, 83, 20) !important;
        border-color: rgb(220, 83, 20) !important;
        color: white !important;
        font-size: 1rem;
        font-weight: 600;
        transition: all 0.2s linear;
    }
    .btn-block:hover,
    .btn-block:active {
        background-color: transparent !important;
        color: black !important;
    }
}

footer {
    width: 100%;
    padding: 3rem 0 3rem 0;
    background-color: black;
    color: white;
    .footerflex {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        h4 {
            font-size: 1.25rem;
            font-weight: 500;
            color: rgb(220, 83, 20);
            margin-bottom: 1rem;
        }
        a {
            color: white;
        }
    }
    .footercol {
        width: 20%;
        min-width: 200px;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        align-items: center;
    }
    .fc1 {
        img {
            width: 200px;
            margin-bottom: 1rem;
        }
    }
    .fc2 {
        img {
            background-color: white;
            margin-bottom: 1rem;
        }
    }
}

.modal-backdrop {
    z-index: 1;
}

.fa-envelope,
.fa-lock {}

.modalbutton {
  background-color: rgb(220, 83, 20);
  color: white;
  border-radius: 45px;
  transition: all 0.2s linear;
}

.modalbutton:hover,
.modalbutton:active {
  background-color: #FA6900;
  color: white;
}

.modalorange {
  color: rgb(220, 83, 20);
  font-weight: 400;
}
.modalexit {
  color: rgb(220, 83, 20) !important;
  border-radius: 45px;
  border-color: rgb(220, 83, 20) !important;
  font-weight: 500;
}

.modalexit:hover,
.modalexit:active {
  color: rgb(220, 83, 20) !important;
  border-color: rgb(220, 83, 20) !important;
}



.fa-star,
.fa-star-half-alt {
    color: rgb(220, 83, 20);
}

.mega-menu {
  background-color: black;
}
.navbar {
    transition: all 0.2s linear;
    box-shadow: none;
    .nav-link {
        margin-left: 5rem;
        font-weight: 500;
    }
}

.m0 {
    margin: 0 !important;
    color: white !important;
}

.nav-tabs {
    background-color: rgb(220, 83, 20) !important;
    margin: 0 !important;
    border-radius: 0;
}

.navbar-nav {
    align-items: center;
    margin: auto;
}

.header {
    width:100%;
    position:fixed;
    top:0;
    left:0;
    transition: height 500ms, background 500ms;
}
.logo {
    width: auto;
    height: 86px;
    transition: all 0.2s linear;
}

.header.tiny {
    max-height: 68px;
    color: #fff;
}

.tiny .logo {
    width: auto !important;
    height: 61.8px !important;
    transition: all 0.618s ease -0.1s;
    background-color: white;
}



.mobileshow {
    display: none;
}



@media screen and (max-width: 1360px) {
    .featuredflex {
        max-width: 750px !important;
        margin: auto;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 991px) {
    .navbar-nav {
        background-color: black !important;
    }
    .navbar-toggler-icon {
        background-color: white;
        border-radius: 3px;
    }
    .navbar {
        min-height: 80px !important;
        background-color: black !important;
    }

    .nav-link {
        color: white !important;
        margin: auto;
    }
    .header {
        width:100%;
        position:fixed;
        top:0;
        left:0;
        transition: height 500ms, background 500ms;
    }
    .logo {
        width: auto;
        height: 68px;
        transition: all 0.2s linear;
        background-color: #fafafa;
        max-width: 200px;
        height: auto;
    }
    
    .header.tiny {
        max-height: 48px !important;
    }
    
    .tiny .logo {
        max-height: 48px !important;
        transition: all 0.618s ease -0.1s;
        background-color: white;
    }
    .mobileshow {
        display: unset;
    }

    .desktopshow {
        display: none;
    }
}


.container {
  max-width: 800px; 
  margin: 11rem auto; 
  background:#FFF; 
  padding:30px;
  border-radius:5px;
}
.productcont {
  display: flex; 
}
.product {
  padding:1em; 
  border:1px solid #E0E4CC; 
  margin-right:1em; 
  border-radius:5px;
}
.cart-container {
  border:1px solid #E0E4CC;
  border-radius:5px;
  margin-top:1em;
  padding:1em;
}
button, input[type="submit"] { 
    border:1px solid rgb(220, 83, 20) ; 
    color:#fff; 
    background: rgb(220, 83, 20) ; 
    padding:0.6em 1em;
    font-size:1em; 
    line-height:1; 
    border-radius: 1.2em;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
    color:#000;
    cursor: pointer;
}
table {
  margin-bottom:1em;
  border-collapse:collapse;
}
table td, table th {
  text-align:left;
  padding:0.25em 1em;
  border-bottom:1px solid #E0E4CC;
}
#carttotals {
  margin-right:0;
  margin-left:auto;
}
.cart-buttons {
  width:auto;
  margin-right:0;
  margin-left:auto;
  display:flex;
  justify-content:flex-end;
  padding:1em 0;
}
#emptycart {
  margin-right:1em;
}
table td:nth-last-child(1) {
  text-align:right;
}
.message {
  border-width: 1px 0px;
  border-style:solid;
  border-color:#A7DBD8;
  color:#679996;
  padding:0.5em 0;
  margin:1em 0;
}
#emptycart:hover,
#emptycart:active,
#checkout:hover,
#checkout:active {
  background-color: transparent !important;
}